body {
  font-family: Segoe UI, sans-serif;
  background: #eef3ff;
  text-align: center;
}

.menu {
  margin-top: 30px;
}

button {
  display: block;
  width: 350px;
  margin: 10px auto;
  padding: 15px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: #0b61d8;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #094ea8;
}
